{% extends "layout.html" %}
{% block content %}
      <div class="jumbotron">
          <img src="logo.png" class="img-rounded img-responsive">
      </div>
      <div>
      <a class="btn btn-lg btn-primary btn-block" href="schedule20140806.html" role="button">Wednesday, August 6</a>
      <a class="btn btn-lg btn-primary btn-block" href="schedule20140807.html" role="button">Thursday, August 7</a>
      <a class="btn btn-lg btn-primary btn-block" href="schedule20140808.html" role="button">Friday, August 8</a>
      <a class="btn btn-lg btn-primary btn-block" href="schedule20140809.html" role="button">Saturday, August 9</a>
      <a class="btn btn-lg btn-default btn-block" href="about.html" role="button">About</a>
      </div>
      <p></p>
      <p class="text-center"><a href="mailto:info@redhatters.cz">Issues or comments?</a></p>
{% endblock %}
